.header {
	position: relative;
	text-align: center;
	margin: 10px;
}

.timer {
	position: fixed;
	top: 0;
	right: 0;
}

.grid-container {
	display: grid;
	gap: 2px 2px;
	grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
	width: fit-content;
	margin: auto;
}

.grid-item {
	justify-self: center;
}

.circle {
    border:2px solid red;    
    height:200px;
    border-radius:50%;
    width:200px;
	text-align: center;
}

.thumbnail {
	width: 200px;
	border-radius:50%;
}